.App {
  text-align: center;
  font-family: 'Comic Sans MS', Comic Sans, cursive;

  height: 100vh;

  display: flex;
  justify-content: center; /* for x axis "main" axis*/
  align-items: center;     /* for y axis "cross" axis*/
}

div {
  border-radius: 6px;
}

svg {
  border-radius: 6px;
}

.App > div {
  background-color: rgb(171, 170, 170);
  padding: 32px;
}

/* .SplashPage {
  padding: 32px;
  border-radius: 6px;
} */

.GameSearchPage {
  display: grid;
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.GamePage {
  display: grid;
  gap: 1rem;

  grid-template-areas: "GameActionsSideBar GameArea" "GameActionsSideBar GameArea GameLog" "GameActionsSideBar GameArea GameLog";
  grid-template-columns: 0.5fr 2fr 1fr;
  /* grid-template-rows: 100px auto; */
}

.GameDisplay {
  width: fit-content;
  block-size: fit-content;
}

.GameSidebar {
  background-color: grey;
}

.GamePiece {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

button {
  display: inline-flex;
  margin: 4px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 2px;
}

.PageTitle {
  font-size: 72px;
  margin: 16px;
}

.NavigationButton {
  padding: 16px;
  width: 128px;
  border: none;
  outline: none;
  border-radius: 6px;

  font-size: 20px;
}

.ButtonText, 
.ButtonIcon {
  display:  inline-flex;
  align-items: center;
  /* height: 100%; */
}